{% extends 'base.html.twig' %}

{% block title %}DashboardController!{% endblock %}

{% block body %}
    <h1>Mis Transacciones</h1>

    {% if transacciones is empty %}
        <p>No hay transacciones que mostrar.</p>
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Telefono</th>
                    <th>Cedula</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                {% for transaccion in transacciones %}
                    <tr>
                        <td>{{ transaccion.id}}</td>
                        <td>{{ transaccion.phone }}</td>
                        <td>{{ transaccion.identificationNumber }}</td>
                        <td>{{ transaccion.monto }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
